body {
    margin: 0;
    overflow-x: hidden;
    height: 100vh; 
    background-repeat: no-repeat !important;
    background-size: cover !important;
    padding-bottom: 4rem !important;
}

.navbar {
    background-color: rgba(0, 0, 0, 0.233);
}

.nav-icon {
    margin-bottom: 3px !important;
}

.navbar-brand {
    color: white !important;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;

}

.navbar-nav a {
    color: white !important;
    font-family: sans-serif !important;

}

.navbar-toggler {
    border: none !important;
}

.navbar-toggler:focus,
.navbar-toggler:active {
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
}


.todo-head {
    text-align: center;
    color: white;
    text-shadow: 1px 0px 1px black;
    padding-top: 2.7rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.todo-icon {
    margin-bottom: 3px;
}

.input-div {
    display: flex;
    height: 2.5rem;
    margin-top: 4rem;
}

#box {
    border: none;
    margin: 0rem 0px 0 29vw;
    padding: 0.4rem 25vw 0.4rem 0.8rem;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.219);
    border-radius: 50px;
}

#box::placeholder {
    padding-left: 0.2rem;
}

.btn-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.2rem;
    height: 2.2rem;
    background-color: rgb(3, 6, 48);
    border-radius: 50%;
    margin-top: 3px;
    margin-left: -2.4rem;
}

.add-btn {
    border: none;
    color: rgb(255, 255, 255);
    background-color: transparent;
    font-weight: 500;
    margin-top: -0.4rem;
    font-size: 2.2rem;

}

#box:active,
#box:focus {
    outline: none;
}

.head-span {
    background-color: rgb(3, 6, 48);
    color: rgb(161, 183, 255);
}

#result {
    list-style-type: none;
    width: 50vw;
    background-color: rgba(243, 243, 243, 0.301);
    margin-left: 23%;
    margin-top: 7vh;
    border-radius: 5px;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.219);
}

#result li {
    display: grid;
    grid-template-columns: auto 1fr auto auto auto;
    gap: 7px;
    padding: 1px 1px 0px 2px;
    border-radius: 5px;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.219);
    /* margin-top: -3px; */
}

#checkbox {
    width: 22px;
    height: 26px;
    margin: 5px 1px;
    appearance: none;
    border: 2px solid #ccc;
    transition: all 0.5s ease;

}

#checkbox:checked {
    background-color: rgb(0, 112, 9);
}

#checkbox:checked::after {
    content: '\2713';
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

#cbox {
    border: none;
    color: rgb(3, 6, 48);
    background-color: rgba(233, 235, 255, 0.726);
    font-weight: 500;
    border-radius: 3px;
    font-size: 15px;
    padding-left: 8px;
    padding-top: 1px;
}

#cbox:active,
#cbox:focus {
    outline: none;
}

.index {
    font-size: 17px;
    font-weight: 500;
    margin-left: -2rem;
    padding: 5px 8px 1px 10px;
    color: rgb(255, 255, 255);
    border-radius: 3px;
    margin-top: 7px;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.219);

}

#span {
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-size: 16px;
    /* background-color: rgb(255, 255, 255); */
    border-radius: 3px;
    padding: 5px 5px 0px 5px;
    margin-top: 7px;
}

#result button {
    border: none;
    font-weight: 400;
    color: white;
    border-radius: 3px;
    height: 2rem;
    margin-top: 3px;
}

.del {
    background-color: rgba(223, 8, 8, 0.925);
    /* padding: 0px 7px; */

}

.edit {
    background-color: rgb(190, 190, 0);
    /* padding: 0px 6px 0px 8px; */
}

.del img {
    width: 1rem;
    height: 1rem;
}

.edit img {
    width: 1rem;
    height: 1rem;
}

.sub-div {
    display: flex;
    justify-content: center;
}

.submit {
    border: none;
}

@media all and (max-width:1024px) {
    .input-div {
        margin-top: 3.8rem;
    }

    #box {
        margin: 0rem 0px 0 25vw;
        padding: 0.3rem 25vw 0.3rem 0.8rem;
    }

    #result {
        width: 55vw;
        margin-left: 19%;
        margin-top: 7vh;
    }

    #checkbox {
        width: 27px;
        height: 27px;
        margin: 2px 1px;
    }

    #checkbox:checked::after {
        font-size: 17px;
    }
}

@media all and (max-width:768px) {
    .input-div {
        height: 2.2rem;
        margin-top: 2.8rem;
    }

    #box {
        margin: 0rem 0px 0 24vw;
        padding: 0.2rem 25vw 0.2rem 0.8rem;
    }

    .btn-div {
        width: 2rem;
        height: 2rem;
        margin-top: 2px;
        margin-left: -2.15rem;
    }

    .add-btn {
        margin-top: -0.3rem;
        font-size: 1.8rem;
    }

    #result {
        width: 60vw;
        margin-left: 19%;
        margin-top: 6vh;
    }

    .del img {
        width: 1.3rem;
        height: 1.3rem;
    }

    .edit img {
        width: 1.3rem;
        height: 1.3rem;
    }
}

@media all and (max-width:425px) {
    .input-div {
        margin-top: 2.1rem;
    }

    #box {
        margin: 0rem 0px 0 17vw;
        padding: 0.2rem 23vw 0.2rem 0.8rem;
    }

    #result {
        width: 85vw;
        margin-left: 8%;
        margin-top: 6vh;
    }

    /* #checkbox{
        width: 25px;
        height: 25px;
        margin: 2px 1px;
    }
    #checkbox:checked::after{
        font-size: 15px;
    } */
    .add-btn {
        font-size: 1.7rem;
    }

    .del {
        padding: 2px 3px;
    }

    .edit {
        font-size: 14px;
    }

    .del img {
        width: 1.15rem;
        height: 1.15em;
    }

    .edit img {
        width: 1.15rem;
        height: 1.15rem;
    }

    .index {
        font-size: 15px;
        font-weight: 500;
        padding: 5px 8px 1px 10px;
    }
}

@media all and (max-width:320px) {

    #box {
        margin: 0rem 0px 0 12vw;
        padding: 0.3rem 20vw 0.2rem 0.8rem;
    }

    .btn-div {
        width: 1.74rem;
        height: 1.74rem;
        margin-top: 1.9px;
        margin-left: -1.89rem;
    }

    .add-btn {
        font-size: 1.7rem;
    }

    .del {
        background-color: rgba(223, 8, 8, 0.925);
        /* padding: 0px 7px; */

    }

    .edit {
        background-color: rgb(190, 190, 0);
        /* padding: 0px 6px 0px 8px; */
    }

    .del img {
        width: 1rem;
        height: 1rem;
    }

    .edit img {
        width: 1rem;
        height: 1rem;
    }

    .del {
        padding: 2px 6px;
    }

    .edit {
        padding: 2px 6px;
        font-size: 14px;
    }

    .index {
        font-size: 15px;
        font-weight: 500;
        padding: 5px 8px 1px 10px;
    }

    #span {
        font-size: 16px;
    }

    #checkbox {
        width: 25px;
        height: 25px;
        margin: 2px 1px;
    }

    #checkbox:checked::after {
        font-size: 15px;
    }
}
